:focus{outline:none}
.left{text-align:left}
.big{font-size:125%}
body{
   background-color: #555;
   color: #fff;
   padding: 0;
   border: none;
   margin: 4px;
   text-align: center;
   font: 11px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
   background-color: #afc;
   color: #000;
   height: auto;
   width: auto;
   padding: 4px 9px;
   border: 1px solid #0f6;
   border-radius: 10px;
   margin: 2px 0;
   text-align: center;
   font-size: 12px;
   font-family: inherit;
   cursor: pointer;
}
button[disabled]{
   background-color: #aaa;
   cursor: not-allowed;
}
option{padding:inherit}
select,input{
   background-color: #bfa;
   color: #000;
   padding: 0 2px;
   border: 1px solid #3f0;
   border-radius: 6px;
   font-family: inherit;
}
select{
   margin: 0;
   font-size: 12px;
}
input{
   margin: 0 3px;
   font-size: 15px;
}
input[type="range"]{
   height:12px;
   width:95%
}
table,th,td{border:none}
table{
   display: inline-block;
   font-size: 15px;
   border-collapse: collapse;
}
th,td{padding:0}
sup,sub{font-size:80%}
sub+sup{margin-left:-1ch}
.tooltip{
   display: none;
   background-color: rgba(0,0,0,0.8);
   color: #fff;
   position: absolute;
   bottom: 90%;
   left: 0;
   z-index: 1073741824;
   padding: 2px 5px;
   text-align: left;
   font-size: 12px;
   font-weight: normal;
}
:hover>.tooltip{display:inline-block}
/*General items*/
.cell{
   height: 172px;
   position: relative;
   padding: 4px;
   margin: 0;
   vertical-align:text-top;
}
.cellcolumn,.cell{width:172px}
.celldark{
   background-color: #5f9;
   font-size: 15px;
   font-weight: bold;
}
.cell1{
   background-color: #afa;
   border: 1px solid #0f0;
}
.already.cell1{
   background-color: #050;
   color: #fff;
}
.cell2{
   background-color: #cfa;
   border: 1px solid #6f0;
}
.cell3{
   background-color: #efa;
   border: 1px solid #cf0;
}
.already.cell3{
   background-color: #450;
   color: #fff;
}
.cell4{
   background-color: #fea;
   border: 1px solid #fc0;
}
.cell5{
   background-color: #fca;
   border: 1px solid #f60;
}
.prestige{
   min-width: 25%;
   background-color: #aef;
   padding: 2px 5px;
   border: 2px solid #0cf;
   border-radius: 7px;
   font-size: 14px;
}
.itemrow{
   display: flex;
   align-items: center;
   margin: 2px;
   text-align: left;
   font-size: 15px;
}
.itemrow2,.column2{width:50%}
.itemrow3,.column3{width:33.33%}
.itemrow4,.column4{width:25%}
.column2,.column3,.column4,.cellcolumn{
   display: inline-block;
   vertical-align: text-top;
}
.alter{
   color: #f0f;
   font-size: 18px;
   font-weight: 600;
   text-shadow: 0 -1px 3px;
}
.bigrow{
   margin: 6px;
   font-size: 18px;
}
/*Special items*/
.tab>button{
   background-color: #daf;
   padding: 0 12px 4px;
   border: 2px solid #90f;
   border-radius: 20px;
   font-size: 32px;
   font-weight: bold;
}
.tab>[disabled]{
   background-color: #60a;
   color: #fff;
}
.tab2>button{
   background-color: #adf;
   padding: 1px 9px 4px;
   border: 2px solid #09f;
   border-radius: 14px;
   font-size: 20px;
   font-weight: 520;
}
.tab2>[disabled]{
   background-color: #035;
   color: #fff;
}
.chal{
   height: 172px;
   width: 300px;
   padding: 4px;
   border-width: 2px;
   margin: 0;
   vertical-align:text-top;
}
#loading{
   background-color: #555;
   position: fixed;
   z-index: 2147483647;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   font-size: 80px;
}
#setting{margin:40px 0}
#setting .itemrow{
   text-align: center;
   font-size: 20px;
   font-weight: 500;
}
#setting button{
   background-color: #baf;
   min-width: 80%;
   padding: 0 12px 4px;
   border: 3px solid #30f;
   font-size: 40px;
   font-weight: 500;
   transition: .2s;
}
#setting button:hover{
   background-color: #20a;
   color: #fff;
}
#setting select{font-size:20px}
#export{
   background-color: #555;
   position: fixed;
   top: 20%;
   left: 20%;
   height: 60%;
   width: 60%;
   border: 3px solid #fff;
   border-radius: 20px;
   padding: 15px;
}
#export>textarea{
   height: 75%;
   width: 99%;
   margin: 0 0 15px;
   font-size: 12px;
}
#export>button{min-width:auto}
.ach{
   height: 90px;
   width: 98px;
   position: relative;
   padding: 8px 0 0;
   border: 1px solid #000;
   border-radius: 12px;
   margin: 5px;
}
.ach>.tooltip{width:150%}
.achieved{
   background-color:#ff0;
   color:#000;
}
.ach1.ach2.ach3{background-color:#fff}
.ach1.ach2{background-color:#8bf}
.ach1.ach3{background-color:#f8b}
.ach2.ach3{background-color:#bf8}
.ach1{background-color:#85b}
.ach2{background-color:#5b8}
.ach3{background-color:#b85}
.rowreward{
   color: #7fb;
   font-size: 18px;
   font-weight: 600;
   text-shadow: 1px 0 3px;
}
.columnreward{
   color: #fb7;
   font-size: 18px;
   font-weight: 600;
   text-shadow: 1px 0 3px;
}