<!DOCTYPE html>
<html>
<head>
<title>Incremental Googology</title>
<link rel="stylesheet" type="text/css" href="index.css">
<meta charset="UTF-8">
<meta name="author" content="hyp_cos">
<meta name="keywords" content="big number, large number, googology, incremental, idle, clicker">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
</head>
<body><div id="loading">
   <br><br>GAME LOADING
</div>
<div id="game">Your number is
   <span style="font-size:50px">{{ShowMainNumber}}</span><br>
   <div class="tab">
      <button @mousedown="CurrentTab=-1">Options</button><button @mousedown="CurrentTab=0">Digits</button>
   </div>
   <div v-if="CurrentTab==0">
      <div class="tab2">
         <button v-show="Yllions" @mousedown="DigitTab=0">Normal -illions</button><button v-show="Yllions&1" @mousedown="DigitTab=1">Normal -yllions</button>
      </div>
      <div v-if="DigitTab==0">
         Your number is gaining {{ShowTotalProduce}}/s<br>
         Note that every digit can be expensive if its value exceeds the next digit<br>
         <div class="itemrow" v-for="(dn,n) in Digit">
            <div class="itemrow4">{{DigitName[n]}}</div>
            <button class="itemrow5" :disabled="CantDigit[n]" @mousedown="BuyDigit(n)" @dblclick="BulkDigit(n)">Cost: {{ShowDigitCost[n]}}</button>
            <div class="itemrow5" v-show="Stage>=1">Double click to
               <select v-model.number="BulkDigitFrac[n]">
                  <option value="0.00001">Spend 0.001%</option>
                  <option value="0.0001">Spend 0.01%</option>
                  <option value="0.001">Spend 0.1%</option>
                  <option value="0.01">Spend 1%</option>
                  <option value="0.1">Spend 10%</option>
                  <option value="0.5">Spend 50%</option>
                  <option value="1">Buy Max</option>
               </select>
            </div>
            <div>Every {{DigitIdx[n]}} digit produces {{ShowDigitProduce[n]}}/s</div>
         </div>
         <div class="caution" v-show="Stage>=2">Counting a digit always resets lower digits (locating higher in the page).</div>
         <div class="itemrow" v-show="Stage>=3">
            <button class="itemrow4" :disabled="CantStdIllion" @mousedown="BuyStdIllion()">Get {{StdIllionName}}</button>
            <div>Reset all digits and your number, but {{UnlockDigits}}make digits 10 times more productive. 1st digit's value requirement: {{ShowStdIllionCost}}</div>
         </div>
      </div>
      <div v-if="DigitTab==1">
         You have counted <span style="font-size:50px">{{Digit[4]}}</span> 5th digits.<br>
         Normal -yllions cost 5th digits.<br>
         <div class="itemrow" v-for="(yn,n) in StdYllion">
            <div class="itemrow4">{{StdYllionNAme[n+1]}}s: {{ShowStdYllionAmount[n]}}</div>
            <button class="itemrow4" :disabled="CantStdYllion[n]" @mousedown="BuyStdYllion(n)">{{StdYllionAction[n]}}. Cost:{{ShowStdYllionCost[n]}}</button>
            <div>Every of {{StdYllionName[n+1]}}s produces {{ShowStdYllionSingleProduce[n]}} {{StdYllionName[n]}}s/s, with total productivity {{ShowStdYllionProduce[n]}}/s</div>
         </div>
      </div>
   </div>
   <div class="setting" v-else-if="CurrentTab==-1">
      <div class="itemrow">
         <div class="itemrow4" v-for="n in 4"><button @mousedown="Save(n)">Save {{n}}</button></div>
      </div>
      <div class="itemrow">
         <div class="itemrow4" v-for="n in 4"><button @mousedown="Load(n)">Load {{n}}</button></div>
      </div>
      <div class="itemrow">
         <div class="itemrow4">
            Automatic saving:<br><select v-model.number="AutoSave">
               <option value="5000">5 s</option>
               <option value="10000">10 s</option>
               <option value="20000">20 s</option>
               <option value="60000">1 min</option>
               <option value="180000">3 min</option>
               <option value="600000">10 min</option>
               <option value="0">Off</option>
            </select>
         </div>
         <div class="itemrow4"><button @mousedown="Export()">Export</button></div>
         <div class="itemrow4">
            Update interval: {{UpdateInterval}} ms <br><input type="range" v-model.number="UpdateInterval" min="10" max="333">
         </div>
         <div class="itemrow4"><button @mousedown="Reset()">FULL RESET</button></div>
      </div>
      <div id="export" v-if="ExportBox">
         <textarea v-model="ExportContent"></textarea>
         <button @mousedown="Import()">Import</button>
         <button @mousedown="ExportBox=false">Cancel</button>
      </div>
   </div>
</div>
<script src="arithmetic.js"></script>
<script src="display-number.js"></script>
<script src="short-scale-name.js"></script>
<script src="yllion.js"></script>
<script src="index.js"></script>
</body>
</html>
