<!DOCTYPE html>
<html>
<head>
<title>Incremental Googology</title>
<link rel="stylesheet" type="text/css" href="index.css">
<meta charset="UTF-8">
<meta name="author" content="hyp_cos">
<meta name="keywords" content="big number, large number, googology, incremental, idle, clicker">
</head>
<body><div id="loading">
   <br><br>GAME LOADING
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<div id="game">Your number is
   <span style="font-size:50px">{{Show(12,MainNumber)}}</span><br>
   <div class="tab">
      <button @mousedown="CurrentTab=-1">Options</button><button @mousedown="CurrentTab=0">Digits</button>
   </div>
   <div v-if="CurrentTab==0">
      Your number is gaining {{Show(11,Growth)}}/s
      <div class="left">
         <button class="cell celldark" @mousedown="BUYFirstDigit()">
            <span class="strong">1st Digit items</span><br>
            Click this to bulk buy all items<br>
            <input type="checkbox" v-model="RevFirstDigit" @mousedown.stop>Buying order: {{RevFirstDigit?'Higher to lower':'Lower to higher'}}
         </button><button class="cell" :disabled="CantOne" @mousedown="BuyOne()" @dblclick="BulkOne()">
            <span class="strong">One<br>{{ShowInt(9,One)}}</span><br>
            Cost: {{ShowInt(9,OneCost)}}<br>
            <input type="range" v-model.number="OneBulklevel" min="-25" max="0" step="0.125" @mousedown.stop @dblclick.stop><br>
            Double click to spend {{ShowPercent(Math.exp(OneBulklevel)*100)}}%
         </button><button class="cell" v-for="(x,n) in FirstDigit" :disabled="CantFirstDigit[n]" @mousedown="BuyFirstDigit(n)" @dblclick="BulkFirstDigit(n)">
            <span class="strong">{{SingleDigitName[n+1]}}<br>{{ShowInt(9,x)}}</span><br>
            {{SingleDigitName[n]}}s are {{Show(9,FirstDigitEff[n])}}× as effective<br>
            Cost {{singleDigitName[n]}}s: {{ShowInt(9,FirstDigitCost[n])}}<br>
            <input type="range" v-model.number="FirstDigitBulklevel[n]" min="-25" max="0" step="0.125" @mousedown.stop @dblclick.stop><br>
            Double click to spend {{ShowPercent(Math.exp(FirstDigitBulklevel[n])*100)}}%
         </button><button class="cell cell1" v-if="CanUnlockFirstDigit" :disabled="CantUnlockFirstDigit" @mousedown="UnlockFirstDigit()">
            <span class="strong">Reset to unlock {{singleDigitName[MaxFirstDigit+1]}}</span><br>
            Require {{singleDigitName[MaxFirstDigit]}}s: 40585
         </button>
      </div>
      <div class="left">
         <button class="cell celldark" @mousedown="BUYHigherDigit()">
            <span class="strong">Higher Digit items</span><br>
            Click this to bulk buy all items<br>
            <input type="checkbox" v-model="RevHigherDigit" @mousedown.stop>Buying order: {{RevHigherDigit?'Higher to lower':'Lower to higher'}}
         </button><button class="cell" :disabled="CantTen" @mousedown="BuyTen()" @dblclick="BulkTen()">
            <span class="strong">2nd Digit: Ten<br>{{ShowInt(9,Ten)}}</span><br>
            Ones are {{Show(9,TenEff)}}× as effective<br>
            Cost: {{ShowInt(9,TenCost)}}<br>
            <input type="range" v-model.number="TenBulklevel" min="-25" max="0" step="0.125" @mousedown.stop @dblclick.stop><br>
            Double click to spend {{ShowPercent(Math.exp(TenBulklevel)*100)}}%
         </button>
      </div>
   </div>
   <div class="setting" v-else-if="CurrentTab==-1">
      <div class="itemrow">
         <div class="itemrow4" v-for="n in 4"><button @mousedown="Save(n)">Save {{n}}</button></div>
      </div>
      <div class="itemrow">
         <div class="itemrow4" v-for="n in 4"><button @mousedown="Load(n)">Load {{n}}</button></div>
      </div>
      <div class="itemrow">
         <div class="itemrow4">
            Automatic saving:<br><select v-model.number="AutoSave">
               <option value="5000">5 s</option>
               <option value="10000">10 s</option>
               <option value="20000">20 s</option>
               <option value="60000">1 min</option>
               <option value="180000">3 min</option>
               <option value="600000">10 min</option>
               <option value="0">Off</option>
            </select>
         </div>
         <div class="itemrow4"><button @mousedown="Export()">Export</button></div>
         <div class="itemrow4">
            Update interval: {{UpdateInterval}} ms <br><input type="range" v-model.number="UpdateInterval" min="10" max="333">
         </div>
         <div class="itemrow4"><button @mousedown="Reset()">FULL RESET</button></div>
      </div>
      <div id="export" v-if="ExportBox">
         <textarea v-model="ExportContent"></textarea>
         <button @mousedown="Import()">Import</button>
         <button @mousedown="ExportBox=false">Cancel</button>
      </div>
   </div>
</div>
<script src="arithmetic.js"></script>
<script src="display-number.js"></script>
<script src="short-scale-name.js"></script>
<script src="yllion.js"></script>
<script src="index.js"></script>
</body>
</html>
